/* CSS Document*/
body{
margin: 0;
padding: 0;
}


header {
      background:white;
      margin-top:-25px;
      color:white;
     
      
}


h1{
font-family:Georgia, 'Times New Roman', 'Times', 'serif';
background-color:#4aaaa5;
padding-top:16px;
width: 237px;
padding-left:18px; 
margin-left:122px;
height:72px;

}

h2{ 
      font-family: Georgia, 'Times New Roman', 'Times', 'serif' ;
      color:#4aaaa5;
      margin-left:7px;



}

/*gray lines across page*/
#topline1{
      width: 900px;
      height:3px;
      background:#dddddd; 
      margin-bottom:5px;
      clear:both;
      margin-left:20px;
      padding-right:30px;
}

#topline2{
      width: 491px;
      height:3px;
      background:#dddddd; 
      margin-bottom:26px;
      clear:both;
      margin-left:20px;
      padding-right:30px;
}
      
#topline3{
      width: 900px;
      height:3px;
      background:#dddddd; 
      margin-bottom:5px;
      clear:both;
      margin-left:20px;
      padding-right:30px;
}    
      


/*Nav bar*/


ul {  
 
 list-style-type:none;
 
 

}

 ul li { display: inline; 
        padding:10px;}

 ul{
       float:right;
       padding: 0px;
       margin-right: 20%;
       margin-top: -5%;
      
      
      }

      a{
            color:#777777;
      }


        
/*body section*/


body{
 
      background-image: url("45degreee_fabric.png");
      background-repeat:no-repeat;
      background-size:cover;
      background-attachment:fixed;
      font-family: 'arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
      color: #777777;
          
}

#page3{
      margin-bottom: 119px;

}

/* backgrounds*/

.container-1 {
      width: 960px;
      margin:auto;
      height:400px;
      
 background:white;
      clear:both;
}

.container-2 {
      width: 581px;
      margin-left: 196px;
      height:750px;
      background: white;
      
      

}

.container-3 {
      width: 960px;
      margin:auto;
      height:537px;
      background: white;
      text-align: left;
      padding-top: 32px;

}

/* layout for pictures*/
.best{
      margin-bottom: 25px;
      margin-left: 3px;
}
.black{
      
      margin-left: 87px;
      
}
.ants{
      margin-top: 20px;
      margin-left: 18px;
}
.example{
     margin-left:81px;

}
.race{
      margin-left: 19px;
      margin-top:20px;

}


      


#ftext {
      margin-left: 45%;
      margin-bottom:auto;
      

}

/* Layout for picture text */


    
   

.text-wrapper{
      position: absolute;
      background-color: #4aaaa5;
      color: white;
      margin-top: 82%;
      height: 30px;
      padding: 5px;
      width: 250px;
      text-align: center;
      margin-left: 15px;
      clear:both;
      left:3px;
      
}

 

      
    
     

.text-wrapper2 {
            position: absolute;
            background-color: #4aaaa5;
            color: white;
            margin-top: 15%;
            height: 30px;
            padding: 5px;
            width: 250px;
            text-align: center;
            margin-left: 15px;
            clear:both;
            left:0px;
            top :150px
      }


     


.text-wrapper3{
      position: absolute;
    background-color: #4aaaa5;
    color: white;
    margin-top: 158px;
    height: 30px;
    padding: 5px;
    width: 250px;
    text-align: center;
    margin-left: 15px;
    clear:both;
    left:0px;
      
}



.text-wrapper4{
      position: absolute;
      background-color: #4aaaa5;
      color: white;
      margin-top: 110px;
      height: 30px;
      padding: 5px;
      width: 250px;
      font: center;
      text-align: center;
      margin-left: 4.2%;
      clear:both;
      top:48px;
      left:7px;
      
}


.text-wrapper5{
      position: absolute;
      background-color: #4aaaa5;
      color: white;
      margin-top: 157px;
      height: 30px;
      padding: 5px;
      width: 250px;
      text-align: center;
      margin-left:15px;
      clear:both;
      left:0px;
      
      
}
/*Picture layout Done*/

/* Contact Form*/

form{
      margin-top: 33px;
      margin-right: 42px;
      width: 774px;
      margin-left: 48px;
      
}


 input, text, textarea {
       width:800px;
       padding:10px;
       margin-left:20px;
       

 }

label{
      margin-left:20px
}

button{
      background-color:#4aaaa5;
      margin-left:20px;
      color:white;
      border-width:10px;
      border-color:#4aaaa5;
      border-bottom-width: 0px;
      border-top-width: 0px;
      border-left-width: 0px;
      border-right-width: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
      width: 110px;
      height: 50px;
      margin-top: 10px;

      
      
  }

  /*Footer*/



       
.subline {
      width: 100%;
      margin:auto;
      height:10px;
      background:#4aaaa5; 
      margin-top:0%;


}
  .subline2 {
      
    width: 100%;
    height:10px;
    background:#4aaaa5; 
    position:absolute;
    margin-top:-10px;
   

}


.subline3 {
          
    width: 100%;
    margin:auto;
    height:10px;
    background:#4aaaa5; 
    padding-bottom:2px;
    margin-top:0%;

}

footer {
      text-align:center;
      background-color: #666666;
      color: white;
      position: fixed;
      bottom:0;
      left: 0;
      width:100%;
      margin:0 auto;
}
          

/***************************************
		      RESPONSIVE
****************************************/

@media screen and (max-width: 992px) {

      /*Tablet*/


h1{
      width: 31%;
      margin-left: 99px;
}
.container-1{
      width: 675px;
      margin-right: 274px;    
}
.container-3{
      width: 760px;
      margin: auto;
      height: 627px;
      background: white;
      text-align: left;
      padding-top: 32px;
}

input{
      width: 500px;

}
textarea{
      width:500px;
}


#topline3{
      width:680px;

}


.black{
      left: 26px; 

}

.example{
      left: 32px;
}

.text-wrapper{
      top: 0px;
      left: 3px;

}
.text-wrapper3{
     top: 1px; 
}
.text-wrapper5{
      top: 3px;
}

#subtext{
      padding-left: 0px;
      padding-right: 277px; 

}
#subtext2{
      width: 965px;
      padding-right: 283px;
      padding-left: 30px;
}
#aboutpic{
      padding-left: 14px;
      padding-right: 0px;
      height: 200px;
      width: 214px;  
}



@media screen and (max-width: 768px) {

      /********phone***************/
      
      .container-1{
            margin-top: 56px;
            height: 700px;
            margin-left:7px;

      }
      .container-2{
            margin-left: 43px;
            margin-right: 0px;
            height: 1195px;
            width: 449px;
            margin-top: 38px;
      }

      .navbar{
            top: 31px;
            left: 45px;
            padding-right: 19px;
            border-right-width: 10px;
            margin-left: 0px;
            height: 95px;
            width: 481px;
            padding-bottom: 15px;
      }

      h1{
            width: 100%;
            margin-left: -16px;
            padding-left: 127px;

      }
      h2{
            margin-left: 19px;   
      }
      #topline2{
            width:392px

      }

      /* pic locations */
      
      .best{
            margin-left: 83px; 
      }
         
      .black{
            margin-top: 20px;
            margin-left: 80px;
      }
      .ants{
            margin-left: 94px;
      }
      
      
      .example{
            margin-top: 20px;
            margin-left: 0px;
      }
      .race{
            top: 37px;
            margin-left: 91px;
      }
      

      /*text places*/
      .text-wrapper{
            top: 156px;
            right: 65px;
            width: 250px;
            height: 34px;
            bottom: 0px;
            margin-top: 0px;
            left: 4px;
            margin-left: 94px;
      }
      .text-wrapper2{
            top: 152px;
            margin-top: 0px;
      }
      
      .text-wrapper3{
            margin-top: 0px;
            top: 155px;
      }
      .text-wrapper4{
            margin-top: 0px;
            top: 157px;
            margin-left: 0px;
            left: 15px;
      }

      
      .text-wrapper5{
            margin-top: 0px;
            margin-left: 0px;
            left: 15px;
            top: 153px;
      }
      .navbar{
            width:503px
      }
      .body{
      background-image: url(45degreee_fabric.png);
      }
      
      #subtext{
            padding-left: 28px;
            padding-right: 437px;
            margin-top: 83px;
        }
        #subtext{
            padding-left: 28px;
            padding-right: 437px;
            margin-top: 83px;
            left:13px
        }
        #subtext2{
            padding-left: 30px;
            padding-right: 425px;
            left:13px
            
        }

        input{
            width: 413px;
      
      }
      textarea{
            width:413px   
      }
      img{
            padding-left: 14px;
            padding-right: 0px;
            width: 508px;
            height: 285px;
      }
      #topline1 {
            width: 507px;
            height: 3px;
            background: #dddddd;
            margin-bottom: 5px;
            clear: both;
            margin-left: 20px;
            padding-right: 30px;
}
}
}